html {
    font-size: 62.5%; 
    box-sizing: border-box;
    /* 1rem = 16px, but I want 1rem = 10px  */
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* navbar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed; /* move out of the normal flow of the page, all visible either we scroll down or scroll up*/
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: width .3s;
}

.menu-icon:hover .line {
    width: 2.5rem; /* override width: 1.8rem;*/
}


.social-icons-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 2rem;
    color: #777;
    transition: color .3s;
}

.social-link:hover {
    color: #deaa86;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}


/* end of navbar */

